  .list-filters {
    overflow-y: hidden;
    padding: 5px;
    padding-left: 20px;
  }

  .list-filter-item {
    min-width: 150px;
    float: left;
    margin: 5px;
  }

  .list-item_content {
    flex: 1;
    padding-right: 15px;
    align-items: center;
  }

  .select-patient-record {
    background: #f0f4f7;
  }

  .select-patient-record:focus {
    background: #f0f4f7;
  }

  .pregnancy-section {
    margin: 0px;
    background-color: #fff;
    padding: 15px 15px;
    margin: 15px 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }

  .pregnancy-column {
    border-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .pregnancy-column:last-child {
    padding-bottom: 15px !important;
  }

  .pregnancy-title-uppercase {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #425668;
  }
