{% extends "templates/web.html" %}

{% block head_include %}
<link type="text/css" rel="stylesheet" href="/assets/css/maia.min.css">
<style>{% include "templates/includes/appointment.css" %}</style>
<link rel="stylesheet" href="/assets/css/website-calendar.min.css">
{% endblock %}

{% block title %} {{ _("Appointments") }} {% endblock %}

{% block header_actions %}
{% endblock %}

{% block header %}<h4 class="main-heading">{{ _("Select your Appointment") }}</h4>

{% endblock %}


{% block script %}
<script type="text/javascript" src="/assets/js/maia-web.min.js"></script>
<script>{% include "templates/includes/appointment.js" %}</script>
{% endblock %}

{% block page_content %}
<div id="calendar"></div>
{% endblock %}
