{% extends "templates/web.html" %}

{% block head_include %}
<link type="text/css" rel="stylesheet" href="/assets/frappe/js/lib/fullcalendar/fullcalendar.min.css">
<link type="text/css" rel="stylesheet" href="/assets/maia/css/fullcalendar.css">
<link type="text/css" rel="stylesheet" href="/assets/maia/css/maia.css">
<style>{% include "templates/includes/appointment.css" %}</style>
{% endblock %}

{% block title %} {{ _("Appointments") }} {% endblock %}

{% block header_actions %}
<a href="/me" class="text-muted">Revenir à mon Compte</a>
{% endblock %}

{% block header %}<h1 class="main-heading">{{ _("Select your Appointment") }}</h1>

{% endblock %}


{% block script %}
<script>{% include "public/js/frappe/misc/utils.js" %}</script>
<script type="text/javascript" src="/assets/js/maia-web.min.js"></script>
<script>{% include "templates/includes/appointment.js" %}</script>
<script type="text/javascript" src="/assets/frappe/js/lib/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="/assets/frappe/js/lib/fullcalendar/locale-all.js"></script>
{% endblock %}

{% block page_content %}
<div class="row" id="header-selector">
	<div class="col-xs-12">
		<div class="col-sm-4 col-xs-12 h6 text-uppercase" id='practitioner-selector'></div>
		<div class="col-sm-4 col-xs-12 h6 text-uppercase" id='appointment-type-selector'></div>
	</div>
	<div class="col-xs-12" id="description"></div>
</div>
<div class="row">
	<div id="calendar" hidden></div>
</div>
{% endblock %}
