<div class='clearfix'></div>
<div>
	<h3>{{ _("How to use this template") }}</h3>
	<p>{{ _("1. Start by checking the preview below to understand how the template is built.") }}</p>
	<p>{{ _("2. Fill in the data below and click on 'Update your website.'") }}</p>
	<p>{{ _("3. Go to 'Website Settings' and add a brand and a footer.") }}</p>
	<p>{{ _("4. You can also add a 'contact' and an 'about us' page.") }}</p>
	<p>{{ _("5. Don't forget to add links to all your pages in the top bar items (Website Settings).") }}</p>

	<br>
	<h5 class='text-center'>{{ _('Enjoy your website !')}}</h5>
</div>
