{% if (typeof data !== "undefined") %}
<div class="btn-group menu-btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span>
			<span class="menu-btn-group-label">{{ __("Type de Rendez-Vous") }}</span>
			<span class="caret"></span>
		</span>
	</button>
	<ul class="dropdown-menu" role="menu">
		{% for d in data %}
		 <li>
			 <a class="appointment-type-option" data-value="{{ d }}">
					{{ d }}
				</a>
		 </li>
		 {% endfor %}
	</ul>
</div>
<div class="appointment-type-name"></div>
{% endif %}
