{% if (typeof data !== "undefined") %}
<div class="dropdown text-center">
	<button class="btn btn-default dropdown-toggle" id="appointmentTypeBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span>
			<span class="menu-btn-group-label">{{ __("Type de Rendez-Vous") }}</span>
			<span class="caret"></span>
		</span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="appointmentTypeBtn">
		{% for d in data %}
		<li>
			<a href="#" class="appointment-type-option dropdown-item" data-value="{{ d.name }}" display-value="{{ d.appointment_type }}">
					{{ d.appointment_type }}
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
<div class="appointment-type-name text-center"></div>
{% endif %}
