{% if (typeof data !== "undefined") %}
<div class="bookpage">
	<a class="bookpage-close" href="#"><i class="fa fa-times"></i></a>
	<div class="bookpage-header">
		<h2 class="bookpage-date">{{ data[0].date }}</h2>
		<h3 class="bookpage-time">{{ data[0].start_time }} - {{ data[0].end_time }}</h3>
	</div>
	<div class="bookpage-header">
		<h2 class="bookpage-appointment-type" data-value="{{ data[0].appointment_type }}">{{ data[0].appointment_type_display }}</h2>
		{% if data[0].seats_left %}
		<h3 class="bookpage-seats-left">{{ data[0].seats_left }} Places Restantes</h3>
		{% endif %}
	</div>
	<form class="form" action="#">
		<div class="form-box">
			<div class="form-fields">
				<textarea id="message" class="form-input" rows="3" name="message" placeholder="Votre Message"></textarea>
			</div>
		</div>
		<button class="form-button" type="submit">Confirmer</button>
	</form>
</div>
{% endif %}
