{% if (typeof data !== "undefined") %}
<div class="dropdown text-center">
	<button type="button" class="btn btn-default dropdown-toggle" {% if (data.length == 1) %} disabled {% endif %} id="practitionerBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span>
			<span class="menu-btn-group-label">{{ __("Professionnel(le)") }}</span>
			<span class="caret"></span>
		</span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="practitionerBtn">
		{% for d in data %}
		 <li>
			 <a href="#" class="practitioner-option dropdown-item" data-value="{{ d.name }}">
					{{ d.name }}
				</a>
		 </li>
		 {% endfor %}
	</ul>
</div>
<div class="practitioner-name text-center">{% if (data.length == 1) %}<h4>{{ data[0].name }}</h4>{% endif %}</div>
{% endif %}