<div class="patient-dashboard-card">
  <div class="custom_dashboard text-center custom-dashboard-card">
    <div class="patientdashboard-delivery-section patientdashboard-icon">
      <img src="/assets/maia/images/delivery.svg">
    </div>
    {% if (typeof delivery_date !== "undefined") { %}
    <div class="patientdashboard-delivery-section">
      {% if delivery_date %}
      <h4 class="patientdashboard-data">{{ delivery_date }}</h4>
      {% else %}
      <span class="text-muted small">{{ __("Please set a delivery date in your latest pregnancy folder") }}</span>
      {% endif %}
    </div>
    {% } %}
    {% if (typeof delivery_way !== "undefined") { %}
    {% if delivery_way %}
    <div class="patientdashboard-delivery-section">
      <span class="text-muted small">{{ __("Delivery Way") }}</span>
      <h4 class="patientdashboard-data">{{ delivery_way }}</h4>
    </div>
    {% endif %}
    {% } %}
    {% if (typeof delivery_complications !== "undefined") { %}
    {% if delivery_complications %}
    <div class="patientdashboard-delivery-section">
      <span class="text-muted small">{{ __("Delivery Complications") }}</span>
      <h4 class="patientdashboard-data">{{ delivery_complications }}</h4>
    </div>
    {% endif %}
    {% } %}
    {% if (typeof scar !== "undefined") { %}
    {% if scar %}
    <div class="patientdashboard-delivery-section">
      <span class="text-muted small">{{ __("Suture") }}</span>
      <h4 class="patientdashboard-data">{{ scar }}</h4>
    </div>
    {% endif %}
    {% } %}
  </div>
</div>
