<div class="patient-dashboard-card">
  <div class="custom_dashboard text-center custom-dashboard-card">
    <div class="patientdashboard-general-section patientdashboard-icon">
      <img src="/assets/maia/images/general.svg">
    </div>
    {% if ((typeof gravidity !== "undefined") && (typeof parity !== "undefined")) { %}
    {% if gravidity || parity %}
    <div class="patientdashboard-general-section">
      <h4 class="patientdashboard-data gravidity-parity">{{ gravidity }} <span class="text-muted small gravidity-parity">{{ __("G") }}</span> {{ parity }} <span class="text-muted small gravidity-parity">{{ __("P") }}</span></h4>
    </div>
    {% endif %}
    {% } %}
    {% if ((typeof allergies !== "undefined") && (allergies.length !==0)) { %}
    <div class="patientdashboard-general-section">
      <span class="text-muted small">{{ __("Allergies") }}</span>
      {% for allergy in allergies %}
      <h4 class="patientdashboard-data text-uppercase">{{ allergy.patient_allergies }}</h4>
      {% endfor %}
    </div>
    {% } %}
    {% if (typeof medical_background !== "undefined") { %}
    {% if medical_background %}
    <div class="patientdashboard-general-section">
      <span class="text-muted small">{{ __("Antécédents Médicaux") }}</span>
      <h4 class="patientdashboard-data">{{ medical_background }}</h4>
    </div>
    {% endif %}
    {% } %}
    {% if ((typeof addictions !== "undefined") && (addictions.length !==0)) { %}
    <div class="patientdashboard-general-section">
      <span class="text-muted small">{{ __("Addictions") }}</span>
      {% for addiction in addictions %}
      <h4 class="patientdashboard-data text-uppercase">{{ addiction.patient_addictions }}</h4>
      {% endfor %}
    </div>
    {% } %}
    {% if (typeof blood_group !== "undefined") { %}
    {% if blood_group %}
    <div class="patientdashboard-general-section">
      <h4 class="patientdashboard-data text-uppercase {% if blood_group.color == "red" %}gravidity-parity{% endif %}">{{ blood_group.name }}</h4>
    </div>
    {% endif %}
    {% } %}
  </div>
</div>
