<div class="patient-dashboard-card">
	<div class="custom_dashboard text-center custom-dashboard-card">
		<div class="patientdashboard-gynecology-section patientdashboard-icon">
			<img src="/assets/maia/images/gynecology.svg" style="max-width:50px;">
		</div>
		{% if ((typeof contraception !== "undefined")) { %}
		<div class="patientdashboard-general-section">
			<span class="text-muted small">{{ __("Current Contraception") }}</span>
			<h4 class="patientdashboard-data text-uppercase">{{ contraception }}</h4>
		</div>
		{% } %}
		{% if ((typeof cervical_smear !== "undefined") && (cervical_smear.length !==0)) { %}
		<div class="patientdashboard-general-section">
			<span class="text-muted small">{{ __("Last Cervical Smear") }}</span>
			{% for cs in cervical_smear %}
			<h4 class="patientdashboard-data text-uppercase">{{ cs.date }}</h4>
			<h5 class="patientdashboard-data text-uppercase">{{ cs.result }}</h5>
			{% endfor %}
		</div>
		{% } %}
		{% if ((typeof screening_tests !== "undefined") && (screening_tests.length !==0)) { %}
		<div class="patientdashboard-general-section">
			<span class="text-muted small">{{ __("Last Screening Test") }}</span>
			{% for screening_test in screening_tests %}
			<h4 class="patientdashboard-data text-uppercase">{{ screening_test.date }}</h4>
			{% endfor %}
		</div>
		{% } %}
		{% if ((typeof lipid_profile !== "undefined") && (lipid_profile.length !==0)) { %}
		<div class="patientdashboard-general-section">
			<span class="text-muted small">{{ __("Last Lipid Profile") }}</span>
			{% for lp in lipid_profile %}
			<h4 class="patientdashboard-data text-uppercase">{{ lp.date }}</h4>
			{% endfor %}
		</div>
		{% } %}
		{% if ((typeof mammography !== "undefined") && (mammography.length !==0)) { %}
		<div class="patientdashboard-general-section">
			<span class="text-muted small">{{ __("Last Mammography") }}</span>
			{% for m in mammography %}
			<h4 class="patientdashboard-data text-uppercase">{{ m.date }}</h4>
			{% endfor %}
		</div>
		{% } %}
	</div>
</div>
