<div class="patient-dashboard-card">
  <div class="custom_dashboard text-center custom-dashboard-card">
    <div class="patientdashboard-newborn-section patientdashboard-icon">
      <img src="/assets/maia/images/newborn.svg" style="max-width:50px;">
    </div>
    {% if ((typeof firstchild !== "undefined") && (firstchild.length !==0)) { %}
    <div class="patientdashboard-newborn-section">
      {% if firstchild.child_name %}
      <h4 class="patientdashboard-data">{{ firstchild.child_name }}</h4>
      {% endif %}
      {% if firstchild.birth_weight %}
      <h4 class="patientdashboard-data">{{ firstchild.birth_weight }} {{ __("g") }}</h4>
      {% else %}
      <span class="text-muted small">{{ __("Please set a birth weight in the pregnancy folder") }}</span>
      {% endif %}
      {% if firstchild.feeding_type %}
      <h4 class="patientdashboard-data">{{ __(firstchild.feeding_type) }}</h4>
      {% endif %}
    </div>
    {% } %}
    {% if ((typeof secondchild !== "undefined") && (secondchild.length !==0)) { %}
    <div class="patientdashboard-newborn-section">
      {% if secondchild.child_name %}
      <h4 class="patientdashboard-data">{{ secondchild.child_name }}</h4>
      {% endif %}
      {% if secondchild.birth_weight %}
      <h4 class="patientdashboard-data">{{ secondchild.birth_weight }} {{ __("g") }}</h4>
      {% else %}
      <span class="text-muted small">{{ __("Please set a birth weight in the pregnancy folder") }}</span>
      {% endif %}
      {% if secondchild.feeding_type %}
      <h4 class="patientdashboard-data">{{ __(secondchild.feeding_type) }}</h4>
      {% endif %}
    </div>
    {% } %}
    {% if ((typeof thirdchild !== "undefined") && (thirdchild.length !==0)) { %}
    <div class="patientdashboard-newborn-section">
      {% if thirdchild.child_name %}
      <h4 class="patientdashboard-data">{{ thirdchild.child_name }}</h4>
      {% endif %}
      {% if thirdchild.birth_weight %}
      <h4 class="patientdashboard-data">{{ thirdchild.birth_weight }} {{ __("g") }}</h4>
      {% else %}
      <span class="text-muted small">{{ __("Please set a birth weight in the pregnancy folder") }}</span>
      {% endif %}
      {% if thirdchild.feeding_type %}
      <h4 class="patientdashboard-data">{{ __(thirdchild.feeding_type) }}</h4>
      {% endif %}
    </div>
    {% } %}
  </div>
</div>
