.btn-custom_dashboard {
  float: right;
  margin-right: 15px;
}

.custom_dashboard {
  background-color: #fff;
  padding: 15px 15px;
  margin: 15px 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.form-dashboard-section.custom {
  padding: 15px 15px;
}
